.topSec{
    text-align: center;
}
.listEle{
    background-color: yellow;
    list-style: none;
    margin: 30px;
    padding: 30px;
    font-size: larger;
    font-weight: 600;

}

.btn1{
    float: right;
    background-color: red;
    counter-reset: white;
}

.cbox{
    appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    
}
.cbStyle{
    background-image: url('https://i.stack.imgur.com/bGgyE.png');
    background-size: cover;
}