*{
    box-sizing: border-box;
    font-size: 18px
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);

    font-family: 'Josefin Sans', sans-serif;
}

.topSec{
    background-image: url('./images/bg-desktop-dark.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
    /* margin: 20%; */
    display: flex;
    justify-content: center;
}

.titleBox{
    width: 60%;
    /* background-color: red; */
   
}

.mnTitle{
    display: flex;
    justify-content: space-between;
    color: white;
    /* background-color: yellow; */
    align-items: center;
    margin: 10vh 0 6vh 0;
}

.title{
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 0.4em;
}
.logo{
    width: 1.5em;
    height: 1.5em;
}
.inputEleCon{
    display: flex;
}

.roundLogo{
    height: 8vh;
    width: 8%;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    justify-content: center;
}
.inputPat{
    border: 2px solid rgba(100, 86, 117, 0.5);
    background-color: hsl(235, 24%, 19%);
    align-self: center;
    width: 1.8vw;
    height: 3.5vh;
    border-radius: 0.8em;

}

.mnInput{
    background-color: hsl(235, 24%, 19%);
    border: 0px;
    width: 92%;
    height: 8vh;
    outline: none;
    color: hsl(234, 11%, 52%);

    
}
.mnInput::placeholder {
    font-size: 0.9em;
    color: hsl(234, 11%, 52%);
  }

.todoListCont{
    font-size: 1.2em;
    overflow: scroll;
    background-color: hsl(235, 24%, 19%);
    margin-top: 3vh;
    height: 49vh;

    overflow-x: hidden; 
    /* text-decoration: line-through; */

}
.todoItems{
    display: flex;
    align-items: center;
    color: hsl(234, 39%, 85%);

    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid rgba(75, 60, 95, 0.5);
    /* width: 100vw; */
    height: 8.2vh;
}
.strike-text{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: hsl(234, 11%, 52%);
}
.listInputEle{
    margin: 0 1.5vw;
    appearance: none;
    -webkit-appearance: none;
    /* background-color: white; */
    border: 2px solid rgba(100, 86, 117, 0.5);
    background-color: hsl(235, 24%, 19%);
    
    width: 1.8vw;
    height: 3.5vh;
    border-radius: 2em;
}
.listInputEle-clicked{
    background-image:  url('./images/icon-check.svg'),linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-size: 1vw, 4vw;
    background-position: center;
    background-repeat: no-repeat,no-repeat;

}

.info{
    text-align: center;
    color: hsl(234, 11%, 52%);
    margin-top: 1.5em;
}

.details{
    /* border-top: 1px solid white; */
    border-top: 1px solid rgba(75, 60, 95, 0.5);
    color:  hsl(234, 11%, 52%);
    background-color: hsl(235, 24%, 19%);
    /* width: 100vw; */
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1em;
    font-weight: 600;
}
.detL{
    margin-left: 2em;
}
.detMC{
    margin: 0 2em;
}
.detR{
    margin-right: 2em;

}



/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(236, 9%, 61%); 
  }